-
  let altText = null
  if (!data.altText) {
    altText = data.title
  } else {
    altText = data.altText
  }
  let images = data.images || []
picture.image
  if images.length > 0 
    each image in images
      source(media=`(max-width: ${image.maxWidth}px)` srcset=image.path)
  img(src=data.defaultImage.path alt=altText title=altText)
  span.image__image-credit #{data.credits} @ #{data.caption}
