meta(property='og:site_name' content=data.site_name)
meta(property='og:type' content=data.type)
meta(property='og:url' content=data.url)
meta(property='og:description' content=data.description)
meta(property='og:title' content=data.title)
meta(property='og:locale' content=data.locale)
