extends partials/page
block content
  .container
    h2 CSS Utilities
    .row
      .col-md-12
        .style-guide__item__label
          h2 Impactful Text
      .col-md-12
        -
          let impactful = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
        .center-block.margin-t-b-10
          h1.impactful-text #{impactful}
        .center-block.margin-t-b-10
          h2.impactful-text #{impactful}
        .center-block.margin-t-b-10
          h3.impactful-text #{impactful}
        .center-block.margin-t-b-10
          h4.impactful-text #{impactful}
        .center-block.margin-t-b-10
          h5.impactful-text #{impactful}
