meta(name='twitter:title' content=data.title)
meta(name='twitter:description' content=data.description)
meta(name='twitter:card' content=data.twitter.cardType)
meta(name='twitter:site' content=data.twitter.site)
meta(name='twitter:creator' content=data.twitter.creator)
meta(name='twitter:domain' content=data.twitter.domain)