ul.social-sharing
  li(data-partial='social-share')
    a(href='#' data-social-share-url='http://')
      img(src='https://cdnjs.cloudflare.com/ajax/libs/webicons/2.0.0/webicons/webicon-facebook.svg' alt=data.facebook title=data.facebook)
  li(class='article-social-share-twitter' data-partial='social-share')
    a(href='#' data-social-share-url='')
      img(src='https://cdnjs.cloudflare.com/ajax/libs/webicons/2.0.0/webicons/webicon-twitter.svg' alt=data.twitter title=data.twitter)
  li.article-social-share-whatsapp
    a(href='')
      img(img src='https://image.flaticon.com/icons/svg/124/124034.svg' alt=data.whatsApp title=data.whatsApp)
