if window.bauerSharedLibs._.has(settings,'stationHeaderLogoSVG')
    picture.missing-image.brand-background-color(
        style={
            'background-image' : 'url('+settings.stationHeaderLogoSVG+')'
        }
    )
        source(
            srcset=settings.placeholderImage
            media="(min-width: 439px)"
        )
        img(
            srcset=settings.placeholderImageSmall
            alt=settings.placeholderAltText 
            title=settings.placeholderAltText
        )
else
    picture.missing-image.missing-image--hub(
        style={
            'background-image': 'url('+settings.missingHubImage+')'
        }
    )
        source(
            srcset=settings.placeholderImage
            media="(min-width: 439px)"
        )
        img(
            srcset=settings.placeholderImageSmall
            alt=settings.placeholderAltText
            title=settings.placeholderAltText
        )
