if settings.stationHeaderLogoSVG
	picture.missing-image.brand-background-color(style="background-image: url('#{settings.stationHeaderLogoSVG}')")
		source(type="", srcset=settings.placeholderImage, media="(min-width: 439px")
		img(title=settings.placeholderAltText, alt=settings.placeholderAltText, srcset=settings.placeholderImageSmall)
else
	picture.missing-image.missing-image--hub(style="background-image: url('#{settings.missingHubImage}')")
		source(type="", srcset=settings.placeholderImage, media="(min-width: 439px")
		img(title=settings.placeholderAltText, alt=settings.placeholderAltText, srcset=settings.placeholderImageSmall)
