if data.imageData

	- 
		var imgCdn = window.bauerSharedLibs.pug.helpers.imgCdn
		var imageCdnData = {
			asset: data.imageData.image,
			width: 305,
			devicePixelRatio: 2,
			cropType: data.heroImageThumbLandscape,
			cropData: data.heroImageThumbLandscape,
			ratio: '16-9',
			resizeStyle: 'aspectfill',
			quality: '50'
		}
		var imageCdnSettings = {
			protocol: data.protocol,
			imageDomain: data.imageDomain,
			imageQuality: data.imageQuality
		}

		var img = imgCdn(imageCdnData, imageCdnSettings)

	picture
		source(type=data.imageData.image.mimeType, srcset=img, media='max-width: 480px')
		img(alt=data.title, title=data.title, srcset=img)
else
	include card_no_image.pug