if data.asset
    - 
        var imageConfig = {
            data: {
                asset: data.asset,
                width: 120,
                devicePixelRatio: 2,
                cropType: data.heroImageThumbLandscape,
                cropData: data.heroImageThumbLandscape,
                ratio: '1-1',
                resizeStyle: 'aspectfill',
                quality: '50',
                altText: data.asset.altText
            },
            settings: {
                protocol: data.protocol,
                imageDomain: data.imageDomain,
                imageQuality: data.imageQuality
            }
        }
        
        var imgSrc = window.bauerSharedLibs.pug.helpers.imgCdn(imageConfig.data,imageConfig.settings)
        
    picture
        source(
             type=imageConfig.data.asset.image.mimeType
             srcset=imgSrc
             media="(max-width: 480px)"
        )
    img(
        srcset=imgSrc
        alt=imageConfig.data.altText
    )
else
    include card_no_image