if images
  picture
    source(
      type=images.sm.mimeType
      srcset=images.sm.url
      media="(min-width: 480px)"
    )
    img(
      src=images.xs.url
      alt=images.altText
    )
else
    include card_no_image