if image
  picture
    source(
      type=image.sm.mimeType
      srcset=image.sm.url
      media="(min-width: 480px)"
    )
    img(
      src=image.xs.url
      alt=image.altText
    )
else
    include card_no_image