if data.asset
  - 
    var imageConfig = {
      data: {
        small: {
          asset: data.asset,
          width: 150,
          devicePixelRatio: 2,
          cropType: data.heroImageThumbLandscape,
          cropData: data.heroImageThumbLandscape,
          ratio: '1-1',
          resizeStyle: 'aspectfill',
          quality: '50'
        },
        standard: {
          asset: data.asset,
          width: 600,
          devicePixelRatio: 2,
          cropType: data.heroImageThumbLandscape,
          cropData: data.heroImageThumbLandscape,
          ratio: '16-9',
          resizeStyle: 'aspectfill',
          quality: '50'
        }
      },
      settings: {
        protocol: data.protocol,
        imageDomain: data.imageDomain,
        imageQuality: data.imageQuality
      }
    }
    var imgCdn = window.bauerSharedLibs.pug.helpers.imgCdn,
    imgXs = imgCdn(imageConfig.data.small,imageConfig.settings),
    imgSm = imgCdn(imageConfig.data.standard,imageConfig.settings)
        
  picture
    source(
      type=data.asset.image.mimeType
      srcset=imgXs
      media="(max-width: 479px)"
    )
    img(
      src=imgSm
      alt=data.asset.altText
    )
else
    include card_no_image