if data.images
  .card-image.pad-0
    .col-xs-4.col-sm-3.col-md-2.icon-container
      include card_icons/card_icons.pug
    picture
      source(
        type=data.images.xs.mimeType
        srcset=data.images.xs.url
        media='(max-width: 480px)'
      )
      img(
        src=data.images.sm.url
        alt=data.images.altText
      )
else
  include card_no_image
