span.hidden-xs.modified-container
  if data.primarySyndicatePosition
    - 
      var helpers = window.bauerSharedLibs.pug.helpers,
      categoryData = helpers.getCategoryConfig(data),
      url = helpers.syndicateCategoryLink(categoryData),
      category = helpers.syndicateCategory(categoryData)
    a(href=url) #{category}
  else 
    - 
      var url = data.urls[0],
      category = data.categories[0].name,
      syndicateTime =  window.bauerSharedLibs.pug.helpers.relativeTimeUTC(data.lastModifiedAt)
    a.brand-color(href=url) #{category} 
    | #{syndicateTime}